@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@600;800&family=Koulen&family=Source+Code+Pro:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: "Baloo 2", cursive;
}
p {
  font-family: "Source Code Pro", monospace;
}
nav {
  /* background-color: rgb(15, 15, 15); */
  display: flex;
  justify-content: space-around;
  height: 80px;
  
  /* border-bottom: 2px solid red; */
  font-size: 20px;
  /* box-shadow: 0px 0px 10px 0px #ff7400; */
  line-height: 80px;
}
/* #navbar {
    background-color: #333;
    position: fixed;
    top: -50px;
    width: 100%;
    display: block;
    transition: top 0.3s;
  } */
.logo img {
  margin-top: 10px;
  width: 60px;
  /* filter: invert(); */
}
nav ul {
  display: flex;
}
nav ul li {
  list-style: none;
  margin: 0 40px;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav ul li a:hover {
  padding-bottom: 5px;
  color: #ff7400;
  border-bottom: 3px solid #ff7400;
  transition: 0.3s ease-in-out;
}
.btn {
  margin-top: 20px;
  border-radius: 30px;
  padding: 5px 15px;
  border: 1px solid #ff7400;
  /* background-color: none; */
}
.btn-invert:hover {
  color: #ff7400;
  padding: 8px 15px;
  transition: 0.25s ease-in;
  background-color: none;

  border: 1px solid #ff7400;
  background-color: transparent;
}
.btn-invert {
  margin-top: 20px;
  border: 1px solid #ff7400;
  border-radius: 30px;
  font-size: 18px;
  padding: 8px 15px;
  background-color: #ff7400;
}
.nav-btn {
  margin-top: 0%;
  margin-left: 60px;
  font-size: 18px;

  /* background-color: #ff7400; */
}

.btn:hover {
  background-color: #ff7400;
  color: white;
  padding: 5px 15px;
  transition: 0.25s ease-in;
}
#home {
  display: flex;

  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.container {
  /* border: 2px solid #ff7400 */
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  top: 30%;
}
.container h1 {
  font-size: 200px;
  margin-top: -80px;
}
.container h3 {
  font-size: 50px;
}

.container p {
  font-size: 20px;
  margin-top: -40px;
  margin-bottom: 20px;
}

button {
  font-size: 25px;
  background: transparent;
  padding: 0 25px;
}

#first {
  height: 400px;
  display: flex;
  /* background-color: rgb(37, 37, 37); */
}
.container1 {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
}
/* .container1::after{
    position: absolute;
    top:0;
    left: 0;
    content:"" ;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));

} */
.container1 img {
  width: 100%;
  filter: brightness(30%);
}
.container2 {
  position: relative;
  width: 50%;
  overflow: hidden;
}
/* .container2::after{
    position: absolute;
    top:0;
    left: 0;
    content:"" ;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));

} */
.container2 img {
  filter: brightness(30%);
  width: 100%;
}
.boy:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  z-index: 5;

  text-align: center;
}
.girl:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.content h1 {
  font-size: 35px;
  margin-bottom: 15px;
}
.content p {
  font-size: 18px;
}
#second {
  height: 800px;
  padding: 0 80px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading1 {
  text-align: center;
  width: 650px;
  margin-bottom: 40px;
  /* border: 1px solid white; */
}
.heading2 {
  display: flex;
  padding: 20px;
  /* border: 1px solid white; */
}
.g {
  margin: 0 20px;
  /* border: 1px solid red; */
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  text-align: center;
  height: 250px;
}
.g img {
  height: 100px;
}
.g h3 {
  font-size: 25px;
  margin: 20px 0 8px 0;
}
.heading1 h1 {
  font-size: 50px;
  margin-bottom: 10px;
}

#third {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./imgs/7.jpg");
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  height: 800px;
  /* background-color: rebeccapurple; */
}
.discount {
  /* padding-top: 30px; */
  float: right;
  /* display: flex; */
  flex-direction: column;
  /* justify-conten/t: center; */
  /* align-items: center; */
  /* text-align: center; */
  width: 43%;
  height: 800px;
  /* border: 2px solid #ff7400; */
}
.discount-content {
  margin-top: 250px;
  /* border: 2px solid red; */
}
.discount-content h1 {
  font-size: 70px;
  line-height: 70px;
}
.discount-content h2 {
  font-family: "Koulen", cursive;
  color: #ff7400;
  font-size: 90px;
  margin-top: -30px;
}
.discount-content p {
  margin-top: -30px;
  margin-bottom: 10px;
}
#forth {
  height: 800px;
  padding: 0 80px;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card {
  background-color: rgb(53, 53, 53);
  width: 300px;
  height: 420px;
  padding: 20px;
  text-align: center;
  margin: 0 40px;
  border-radius: 30px;
  border: 1px solid rgb(53, 53, 53);
}
.card:hover {
  transition: 0.2s ease-in;
  border: 1px solid #ff7400;
}
.card-head {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 2px solid white;
}
.card-head h1 {
  font-size: 30px;
}
.card-head h3 {
  margin-top: 0px;
  color: #ff7400;
}
.card-main {
  margin-top: 50px;
  color: rgb(105, 105, 105);
}
.card-main h4 {
  margin: 20px 0;
}
.avail {
  color: #ff7400;
}
#fifth {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./imgs/11.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 900px;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#fifth .heading1 {
  margin-bottom: 90px;
}
.t {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 25px;
}
.t img {
  height: 450px;
  margin-bottom: 20px;
}
.img-container {
  overflow: hidden;
  border-radius: 30px;
  position: relative;
  width: 338px;
  height: 450px;
}
.overly {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0%;
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  transform: translateY(30%);
  background-color: black;
}
.overly:hover {
  opacity: 70%;
  transform: translateY(0%);
  transition: 0.3s ease;
}
.t h1 {
  font-size: 40px;
  margin-bottom: -10px;
}
.t p {
  font-size: 18px;
}
.trainer-contact {
  margin: 0 8px;
  font-size: 35px;
}
#sixth {
  background: radial-gradient(rgba(194, 133, 1, 0.14), rgb(0, 0, 0)),
    url("./imgs/12.jpg");
  background-position: center;
  background-size: cover;

  background-repeat: no-repeat;
  height: 800px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* background-color: rebeccapurple; */
}
.discount-offer {
  width: 800px;
}
.discount-offer h1 {
  font-size: 80px;
  line-height: 80px;
}
.disc {
  font-size: 25px;
}
footer {
  background-color: black;
  height: 70vh;
  display: flex;
  padding: 140px 0;
  justify-content: center;
  align-items: center;
}
#seven {
  width: 85%;
  height: 80%;
  border-bottom: 1px solid#ff7400;
  display: flex;

  justify-content: center;
  align-items: center;
}
.sec1 {
  margin: 0 40px;
  width: 320px;
  height: 450px;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  /* justify-content: center; */
  /* align-items: center; */
}
.sec1 img {
  width: 100px;
  margin-bottom: 30px;
  /* filter: invert(); */
}
.sec1 p {
  /* font-size: 23px; */
  margin-bottom: 30px;
}
.links a {
  font-size: 35px;
  margin: 0 10px;
}
.sec2 {
  margin: 0 40px;
  width: 150px;
  height: 450px;
  /* border: 2px solid rebeccapurple; */
}
.sec2 h3 {
  color: #ff7400;
  font-size: 25px;
  margin: 20 0;
}
.sec2 p {
  text-align: center;
  margin: 10px 0;
}
.sec2 a {
  text-decoration: none;
}
.sec2 p:hover {
  transition: 0.35s;
  color: #ff7400;
}
.sec3 {
  width: 400px;
  margin: 0 40px;
  height: 450px;
  /* border: 2px solid red; */
}
.sec3 h3 {
  color: #ff7400;
  font-size: 30px;
  margin: 20 0;
}
label {
  margin: 20 0;
  display: flex;
}
.sec3 button {
  margin-left: -110px;
  margin-top: 3px;
  font-size: 17px;
  height: 50px;
}
.sec3 input {
  padding: 8px;
  padding-left: 18px;
  color: black;
  outline: none;
  font-size: 23px;
  width: 100%;
  border-radius: 30px;
}
i:hover {
  transition: 0.35s ease;
  color: #ff7400;
}
#chkbox_1{
  background: url('./imgs/8.jpg');
}